@model OrderSearchView
@{
    ViewData["Title"] = "Admin Page";
    var orders = ViewData["orders"] as List<OrderAdminView>;
    var searchView = ViewData["searchView"] as OrderSearchView;
}

<div id="content">
    <div id="content-left">
        <ul>
            <a asp-action="Dashboard" asp-controller="Admin">
            <li>Dashboard</li></a>
            <a asp-action="Order" asp-controller="Admin">
            <li>Orders</li></a>
            <a asp-action="Product" asp-controller="Admin">
            <li>Products</li></a>
            <a href="#">
            <li>Customers</li></a>
        </ul>
    </div>
    <div id="content-right">
        <div class="path-admin">ORDERS LIST</b></div>
        <div class="content-main">
            <div id="content-main-dashboard">
                <div id="order-title">
                    <b>Filter by Order date:</b>
                    <form asp-action="Order" asp-controller="Admin">
                        From: <input asp-for="From" />
                        To: <input asp-for="To" />
                        <input type="submit" value="Filter">
                    </form>
                </div>

                <div id="product-title-3" style="width: 20%;">
                    <a asp-action="Create_product">Create a new Product</a>
                    <form action="">
                        <label for="upload-file">Import .xls or .xlsx file</label>
                        <input type="file" name="file" id="upload-file" />
                    </form>
                </div>
                <div id="order-table">
                    <table id="orders">
                        <tr>
                            <th>OrderID</th>
                            <th>OrderDate</th>
                            <th>RequiredDate</th>
                            <th>ShippedDate</th>
                            <th>Employee</th>
                            <th>Customer</th>
                            <th>Freight($)</th>
                            <th>Status</th>
                        </tr>
                        @foreach (var order in orders)
                        {
                            <tr>
                                <td><a asp-action="OrderDetail" asp-controller="Admin" asp-route-id="@order.OrderId">#@order.OrderId</a></td>
                                <td>@(order.OrderDate != null ? DateTime.Parse(order.OrderDate.ToString()).ToString("dd-MM-yyyy") : "")</td>
                                <td>@(order.RequiredDate != null ? DateTime.Parse(order.RequiredDate.ToString()).ToString("dd-MM-yyyy") : "")</td>
                                <td>@(order.ShippedDate != null ? DateTime.Parse(order.ShippedDate.ToString()).ToString("dd-MM-yyyy") : "")</td>
                                <td>@order.EmployeeName</td>
                                <td>@order.CustomerName</td>
                                <td>@order.Freight</td>
                                @if (order.RequiredDate == null)
                                {
                                    <td style="color: red;">Order canceled</td>
                                }
                                else if (order.ShippedDate == null)
                                {
                                    <td style="color: blue;">Pending | <a asp-action="CancelOrder" asp-route-id="@order.OrderId" asp-controller="Admin">Cancel</a></td>
                                }
                                else
                                {
                                    <td style="color: green;">Completed</td>
                                }


                            </tr>
                        }
                    </table>
                </div>
                <div id="paging">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
